/* web fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Poppins:300,400,500,600,700,800,900");

/* Global CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
}

.all-area {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #063e3e;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #063e3e;
}

a:hover {
    color: #00cff2;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.text-capitalize{
    text-transform: capitalize;
}

/* button */
.btn {
    background: #e79800;
    color: #ffffff;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.default-btn {
    margin-top: 20px;
    letter-spacing: 1px;
    padding: 10px 45px;
    background: #e79800;
    display: inline-block;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    color: #ffffff;
}

.enq-btn{
    font-size: 18px;
    padding-right: 1rem;
    padding-left: 1rem;
}
/* padding */
.ptb_100{
    padding: 100px 0;
}


/* Header Area */
.header-area{
    position: absolute;
    height: auto;
    width: 100%;
    background-color: transparent;
    z-index: 999;
}

.main-header-area{
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header-area .navbar{
    padding: 0;
}

.navbar-brand{
    padding-top: 0;
}

.navbar-brand .logo {
    max-height: 120px;
    height: 120px;
}

.call-btn{
    position: absolute;
    top: 15px;
    right: 0;
    padding: 25px;
}

.call-btn a{
    font-size: 22px;
    background: #e79800;
    padding: 10px;
    color: #000;
    border-radius: 10px;
}

.nav-item a{
    margin-top: 0;
    color: #000 !important;
    margin-right: 10px;
}

.navbar-sticky {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
    z-index: 1000 !important;
}

.navbar-sticky .navbar-brand img{
    max-height: 100px;
}

/* Banner Area */
.banner-area{
    background: rgba(0, 0, 0, 0) url("../img/banner/Long-view.jpg") no-repeat scroll center center / cover;
    height: 80vh;
    position: relative;
}

.banner-area .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1340138a;
    opacity: 0.8;
}

.banner-content{
    position: relative;
    z-index: 2;
}

.button-group {
    margin-top: 30px;
}

.button-group a {
    margin-right: 10px;
}

.banner-content h1{
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}

.banner-content h1 span{
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
}

.form-banner{
    width: 32%;
    position: absolute;
    right: 5%;
    top: 5%;
}

.form-banner form{
    background: #fff;
    width: 100%;
    padding: 25px 30px;
    clear: both;
    box-shadow: 0 10px 50px 0 rgb(84 110 122 / 35%);
    position: relative;
    top: 240px;
}

.form-banner form h1{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
    position: relative;
}

.form-banner form h1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background: #e79800;
    bottom: -10px;
    left: 0;
    right: 0;
    transform: translate(50%,50%);
}


.form-banner form input{
    float: left;
    height: 45px;
    width: 100%;
    border: 0;
    outline: none;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    padding: .375rem 0;
    margin-bottom: 20px;
}

/* What WE Provide Area */
.what-we-provide .section-heading{
    margin-bottom: 50px;
}

.section-heading h3{
    color: #e79800;
    font-weight: 600;
}

.section-heading h2{
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #333333;
    font-size: 34px;
}

.provider-wrap .single-provide{
    margin-top: 40px;
    padding-right: 20px;
}

.provider-wrap .single-provide-icons {
    margin-bottom: 20px;
}

.provider-wrap .single-provide-contented h4 {
    font-weight: 600;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    h4 {
        font-size: 22px;
    }
}

.provide-image{
    position: relative;
}

/* About Us area */
.welcome-about-us{
    position: relative;
    background: #0d202c;
    overflow: hidden;
}

.about-title{
    padding: 40px 0;
    position: relative;
    color: #fff;
    text-align: left;
}

.about-title h3 span{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .about-title{
        padding: 120px 0;
    }
}


.about-title h3{
    color: #fff;
    text-transform: capitalize;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 30px;
}

.about-title p{
    font-size: 16px;
    margin-top: 13px;
    color: #fff;
}

.google-btn img{
    max-width: 150px;
    margin-top: 30px;
}

.about-video{
    float: left;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
}

.about-video .video-inner{
    background: url(../../assets/img/about/welcome-new.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-video .video-inner::after {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
}

.about-video .video-inner .play{
    cursor: pointer;
    z-index: 100;
}

/* modal */

.modal{
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,.7);
}

.modal-dialog{
    max-width: 900px;
}
.modal-title{
    font-size: 35px;
    font-weight: 700;
}

.modal-content, .modal-body{
    border: 0;
    padding: 0;
    border-radius: 0;
}

.modal-left{
    width: 50%;
    float: left;
    height: 480px;
    background: url(../img/popup/bus.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    padding: 60px;
}

.modal-left .overlay{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-right{
    width: 50%;
    float: left;
    height: 480px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 60px;
}

.modal-right form{
    width: 100%;
}

.modal-right form .form-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.modal-right input{
    float: left;
    height: 45px;
    width: 100%;
    border: 0;
    outline: none;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    padding: .375rem 0;
}

.modal-heading{
    position: absolute;
    top: 0;
    padding: 25px;
}

.modal-heading h3{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-body button.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    z-index: 9999;
}

.modal-body button.close i{
    font-size: 15px;
    border: 1px solid #e79800;
    padding: 10px;
    border-radius: 50%;
    background: #e79800;
}

/* Course Categories */
.custom-col{
    width: 25%;
    float: left;
}

.single-course{
    padding: 15px 20px 25px;
    border-radius: 25px 25px 0 0;
    text-align: center;
    position: relative;
    margin-top: 100px;
    z-index: 1;
}

.kindergarten{
    background: #10c45c;
}

.primary-school{
    background: #fdc735;
}

.middle-school{
    background: #307ad5;
}

.senior-school{
    background: #e948ae;
}

.course-title{
    margin-top: 15px;
}

.course-title h4{
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 22px;
}

.course-title p{
    color: #ffffff;
    font-size: 14px;
}

/* About school */
.about-school{
    background: #f0f3fc;
}

.section-badge{
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 20px;
    color: #fff !important;
    background: #e79800;
    -webkit-box-shadow: 0 10px 16px 0 rgb(21 219 150 / 15%);
    box-shadow: 0 10px 16px 0 rgb(21 219 150 / 15%);
}

.about-school h3{
    line-height: 1.35;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #333333;
    font-size: 34px;
}

.about-school p{
    color: #636b72;
}

/* video */
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    background: rgba(255,255,255,0.95);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.trailer.active {
    opacity: 1;
    visibility: visible;
}

.trailer video {
    max-width: 900px;
    outline: none;
}

.trailer .close {
    position: absolute;
    top: 50px;
    right: 55px;
    cursor: pointer;
    max-width: 25px;
}

/* Contact area */
.contact-scetion{
    background: #f0f3fc;
}

.contact-form-info {
    padding: 20px 50px 20px 0;
}

.contact-title > h3 {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 600;
}

.contact-input {
    display: block;
    margin: 0 -10px;
    overflow: hidden;
}

.contact-inner {
    float: left;
    margin: 0 0 20px;
    padding: 0 10px;
    width: 50%;
}

.contact-inner input, .contact-inner textarea {
    border: 1px solid #dddddd;
    color: #222222;
    font-size: 14px;
    height: 45px;
    padding-left: 15px;
    width: 100%;
}

.contact-inner.contact-message {
    width: 100%;
}

.contact-inner.contact-message textarea {
    height: 150px;
    padding: 15px;
    border: 1px solid #dddddd;
    color: #222222;
    font-size: 14px;
    width: 100%;
}

.contact-submit-btn .submit-btn {
    background: #333333 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    text-transform: capitalize;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.contact-infor {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 20px 30px;
}

.contact-dec p{
    margin-bottom: 30px;
    color: #333;
}

.contact-address{
    margin-bottom: 10px;
}

.contact-address li {
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    padding: 10px 0;
}

.contact-address li:first-child {
    border-top: none;
}

.contact-address li i {
    margin-right: 5px;
}

.working-hours{
    margin-bottom: 15px;
}

.working-hours h5{
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}

/* Footer area */
.main-footer{
    width: 100%;
}

.footer-bg-1{
    background: #e0f5f4;
}

.footer-contact{
    width: 100%;
}

.footer-title{
    margin-bottom: 25px;
}

.footer-contact ul li{
    margin-bottom: 25px;
}

.footer-bg{
    background-color: #131418 !important;
}

.copyright-area{
    padding: 30px 0px;
    width: 100%;
    text-align: center;
}

.copyright-area p{
    color: #ddd;
}

.copyright-area a{
    color: rgba(255,255,255,.8);
}

.copyright-area a img{
    max-width: 100px;
}

.map-responsive{
    overflow:hidden;
    /* padding-bottom:56.25%; */
    padding-bottom: 40.25%;
    position:relative;
    height:0;
  }
  .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

/* testimonials */
.testi-area .section-heading{
    margin-bottom: 50px;
}

.single-testi {
    padding: 30px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    margin: 1.5rem;
}

.single-testi:before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 90%;
    height: 15px;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
    transform: translateX(-50%);
    border-radius: 0 0 5px 5px;
    z-index: -7;
}

.testi-name {
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
}

.testi-content p i{
    font-size: 25px;
    position: relative;
}

.single-testi:hover {
    -webkit-box-shadow: 0 1px 8px -2px hsla(0, 0%, 0%, 0.15);
    box-shadow: 0 1px 8px -2px hsla(0, 0%, 0%, 0.15);
}


/* Divider */
.divider{
    position: relative;
    padding: 70px 0;
    text-align: center;
    background-image: url(../img/banner/seed.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.divider:before{
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: #1b4808b5;
    opacity: 0.8;
}

.divider-content h2,.divider-content h5, .divider-content p{
    color: #fff;
}

.divider-content h5{
    margin: 20px 0;
}

.divider-content h2{
    font-size: 35px;
    font-weight: 700;
}